PORT=
REDIS_URL=
MONGODB_URI=
JWT_SECRET=

K8S_MODE=
K8S_NAMESPACE=

LAB_IMAGE_PYTHON=

PVC_STORAGE_CLASS=
PVC_STORAGE_SIZE=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_ENDPOINT_POD=
MINIO_BUCKET_TEMPLATES=
MINIO_BUCKET_SNAPSHOTS=

EVALUATION_DIR=